<div class="film" *ngFor="let item of films$ | async">
  <button (click)="seeFilmInfo()"> <img [src]="item.image" alt="poster"></button>

  <div>
    <h2>{{item.name}}</h2>
    <span>{{item.year}}</span>
  </div>
</div>
