.header
  background: rgba(249, 249, 249, 0.94)

  img
    margin: 0 auto
    cursor: pointer

  .shortLogo
    width: 47px
    height: 18px

.headerCont
  display: flex
  flex-direction: row
  margin: 0 auto
  max-width: 1380px
  width: 100%
  align-items: center
  justify-content: space-between


.collectionCircle
  display: flex
  flex-direction: row
  align-items: center

  .collection
    color: black
    font-family: SF Pro Text, sans-serif
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 21px
    text-decoration: none
    display: flex
    flex-direction: row
    align-items: center

  .active
    background: #002DFF
    border-radius: 21px
    padding: 8px 10px
    color: white

  .collectionText
    padding-left: 11px
    margin: 0 auto


.addWithPlus
  display: flex
  flex-direction: row
  padding-left: 26px
  align-items: center

  .plus
    width: 21px
    height: 21px

  .add
    font-family: SF Pro Text, sans-serif
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 21px
    padding-left: 12px
    cursor: pointer

.leftSide
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

.rightSide
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  max-width: 200px


.loupe
  width: 21px
  height: 21px


.search
  padding-left: 11px
  font-family: SF Pro Text, sans-serif
  font-style: normal
  font-weight: 500
  font-size: 18px
  line-height: 21px
  cursor: pointer


.profile
  width: 40px
  height: 40px
  padding-left: 31px


.mainCont
  max-width: 510px
  width: 100%
  margin: 0 auto
  padding-top: 82px

