<header class="header">
  <div class="headerCont">
    <div class="leftSide">
      <div class="collectionCircle">
        <div class="collection">
          <img src="./assets/circle.svg" alt="circle">
          <p class="collectionText">Коллекция</p>
        </div>
      </div>
      <div class="addWithPlus">
        <img src="./assets/plus.svg" class="plus" alt="plus">
        <p class="add">Добавить</p>
      </div>
    </div>

    <img src="./assets/short-logo.svg" class="shortLogo" alt="logo">

    <div class="rightSide">
      <img src="./assets/loupe.svg" class="loupe" alt="loupe">
      <p class="search">Поиск</p>
      <img src="./assets/profile.svg" class="profile" alt="profile">
    </div>
  </div>
</header>

<main class="mainCont">
  <ng-content></ng-content>
</main>
