<div class="toggleSwitch">
  <button
    class="toggle"
    (click)="toggle(true)"
    [class.toggle--active]="innerValue"
  >КиноПоиск
  </button>

  <button
    class="toggle"
    (click)="toggle(false)"
    [class.toggle--active]="!innerValue"
  >Вручную
  </button>

</div>
