\:host
  display: block
  width: 343px
  margin: 0 auto
  text-align: center


.toggleSwitch
  background: rgba(118, 118, 128, 0.12)
  border-radius: 8.91px
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 42px

.toggle
  font-family: SF Pro Text, sans-serif
  font-style: normal
  font-weight: 500
  font-size: 15px
  line-height: 20px
  display: flex
  align-items: center
  text-align: center
  letter-spacing: -0.24px
  color: #000000
  background: transparent
  border: none
  cursor: pointer


  &--active
    font-family: SF Pro Text, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 15px
    line-height: 20px
    letter-spacing: -0.24px
    color: #000000
    background: #FFFFFF
    border: 0.5px solid rgba(0, 0, 0, 0.04)
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04)
    border-radius: 6.93px
    width: 173px
    cursor: pointer



