<mat-form-field class="example-form-field" appearance="fill">
  <input matInput type="text" [(ngModel)]="value">
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>х</mat-icon>
  </button>
</mat-form-field>
